<!-- Template Widgets -->

        {{widget('extendednavigation', 'navigation', {"align":"center"})|raw}}

        <div class="template-header">
            <div class="brand">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div>
        </div>

<!-- End Template Widgets -->
